<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        padding: 2px;
        margin: 2px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      body,
      div {
        display: flex;
        flex-direction: column;
      }
      body {
        width: 50%;
      }
      ul {
        list-style: none;
      }

      .strikeout {
        text-decoration: line-through;
      }
      .priority {
        color: goldenrod;
      }
    </style>
  </head>
  <body>
    <div id="shopping-list" style="display: flex; flex-direction: column">
      <div class="header">
        <h1>{{header || 'Welcome'.toLocaleUpperCase()}}</h1>
        <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">
          Cancel
        </button>
        <button v-else="editing" @click="doEdit(true)" class="btn btn-primary">
          Add Item
        </button>
      </div>

      <div v-if="editing" class="add-item-form">
        <input
          type="text"
          @keyup.enter="saveItem"
          v-model="newItem"
          placeholder="Add an Item"
        />
        <label for="">
          <input type="checkbox" v-model="newItemHighPriority" />
          High Priority
        </label>
        <button
          class="btn btn-primary"
          :disabled="newItem.length == 0"
          @click="saveItem"
        >
          Save Item
        </button>
      </div>
      <!-- <select id="">
        <option v-for="item in items" :key="item.id" value="item.label">
          {{item.label}}
        </option>
      </select> -->

      <p v-if="items.length==0">Nice job! You've bought all your items!</p>

      <ul>
        <li
          v-for="(item) in reversedItems"
          :key="item.id"
          @click="togglePurchased(item)"
          :class="{strikeout: item.purchased, priority: item.highPriority}"
        >
          {{item.id}}- {{item.label}}
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const shoppingListApp = Vue.createApp({
        data() {
          return {
            header: "Shopping list App",
            editing: false,
            newItem: "",
            newItemHighPriority: false,
            items: [
              {
                id: 1,
                label: "10 party hats",
                purchased: true,
                highPriority: false,
              },
              {
                id: 2,
                label: "2 board games",
                purchased: true,
                highPriority: true,
              },
              {
                id: 3,
                label: "20 cups",
                purchased: false,
                highPriority: false,
              },
            ],
            iceCreamFlavors: [],
          };
        },
        // when you want to change the presentation of the data you use computed.
        computed: {
          reversedItems() {
            return [...this.items].reverse();
          },
        },
        // when you want to edit the data you use methods.
        methods: {
          saveItem() {
            this.items.push({
              id: this.items.length + 1,
              label: this.newItem,
              highPriority: this.newItemHighPriority,
            });
            this.newItem = "";
            this.newItemHighPriority = "";
          },
          doEdit(flag) {
            this.editing = flag;
          },
          togglePurchased(item) {
            item.purchased = !item.purchased;
          },
        },
      }).mount("#shopping-list");
    </script>
  </body>
</html>
