<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>
    <!-- Components -->
    <script type="text/x-template" id="click-counter-template">
      <button @click="count++"> the count is: {{count}}</button>
    </script>

    <script type="text/x-template" id="plan-template">
      <div class="plan">
        <div class="description">
          <span class="title">{{name}}</span>
        </div>
      </div>
    </script>
    <!-- ##### -->
    <div id="app">
      <h1>VueJS component fundamentals</h1>
      <click-counter></click-counter>
      <click-counter></click-counter>
      <click-counter></click-counter>
      <click-counter></click-counter>
      <plan-picker></plan-picker>
    </div>
    <script type="text/x-template" id="plan-picker-template">
      <div class="plans" style="padding: 6px 0">
        <plan v-for="plan in plans" :name="plan"></plan>
      </div>
    </script>
    <script src="app.js"></script>
  </body>
</html>
