<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
      <h1>VueJS component fundamentals</h1>
      <click-counter></click-counter>
    </div>
    <script>
      Vue.createApp({})
        .component("click-counter", {
          template: `
         <button @click="count++">{{count}}</button>
        `,
          data() {
            return {
              count: 0,
            };
          },
        })
        .mount("#app");
    </script>
  </body>
</html>
